body {
    background-color: #2f4f4f;
    font-family: 'Courier New', Courier, monospace;
    color: #f8f8ff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


table thead {
    /* make it stick to the top */
    position: sticky;
    top: 0;
}

table thead th {
    background-color: #000000/* you may want to change this */
  }

.container {
    width: 90%;
}

.title {
    text-align: center;
    color: #7cfc00;
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
}

#dataTable th, #dataTable td {
    border: 1px solid #f8f8ff;
    padding: 8px;
    text-align: left;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgb(0, 0, 0);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #f8f8ff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #7cfc00;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
 }

  #dataTable {
    width: 100%;
    display: block;
    overflow-x: auto;
  }
  
  #dataTable th, #dataTable td {
    padding: 10px;
    word-wrap: break-word;
  }
  }
